@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
    --ubuntu: 'Ubuntu', sans-serif;
    --root-font: 18px var(--ubuntu);
    --dark-blue: #1F2937;
    --prim-white: #F9FAF8;
    --sec-white: #E5E7EB;
    --light-blue: #3882F6;
    --hero-main-size: 900 48px var(--ubuntu);
    --header-logo-text: 600 24px var(--ubuntu);
    --info-header-text: 900 36px var(--ubuntu);
    --quote-text: italic 36px var(--ubuntu);
    --section-padding: 3em 180px;
}

body {
    font: var(--root-font);
    display: flex;
    flex-flow: column nowrap;
}

a {
    text-decoration: none;
    color: var(--sec-white);
}

a:hover {
    text-decoration: underline;
}

.header {
    padding: 1em 180px;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue);
}

.header .top-left {
    font: var(--header-logo-text);
    color: var(--prim-white);
}

.header .top-right ul {
    display: flex;
    gap: 16px;
}

.hero {
    padding: var(--section-padding);
    background-color: var(--dark-blue);
    height: 400px;
    display: flex;
    gap: 1em;
}

.hero-left h1 {
    font: var(--hero-main-size);
    color: var(--prim-white);
    flex: 1;
}

.hero-left p {
    color: var(--sec-white);
}

.hero-left button {
    margin: 8px 0;
    background-color: var(--light-blue);
    color: var(--prim-white);
    text-align: center;
    padding: 4px 24px;
    border: none;
    border-radius: 5px;
}

.hero-right img {
    width: 500px;
    min-height: 250px;
    background-color: #eee;
}

.info {
    padding: var(--section-padding);
    background-color: var(--prim-white);
}

.info #info-title {
    font: var(--info-header-text);
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 1em;
}

.info-main {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    max-width: 200px;
    height: 200px;
}

.card-img {
    min-width: 150px;
    min-height: 150px;
    border: solid 5px var(--light-blue);
    border-radius: 10px;
}

.card-txt {
    text-align: center;
    color: #1f1f1f;
    opacity: 0.8;
}

.quote {
    padding: 100px 250px;
    background-color: var(--sec-white);
}

.quote p:first-child {
    font: var(--quote-text);
    margin-bottom: 1em;
}

.quote p:last-child {
    font-weight: bold;
    text-align: right;
}

.banner {
    display: flex;
    justify-content: space-between;
    color: var(--prim-white);
    background-color: var(--light-blue);
    border-radius: 5px;
    margin: 50px 150px;
    padding: 25px 50px;
    column-gap: 1em;
}

.banner h3 {
    font-weight: 700;
}

.banner button {
    box-sizing: border-box;
    background-color: var(--light-blue);
    color: var(--prim-white);
    border: 2px solid var(--prim-white);
    border-radius: 5px;
    padding: 4px;
    width: 120px;
}

footer {
    background-color: var(--dark-blue);
    color: var(--sec-white);
    text-align: center;
    padding: var(--section-padding);
}