@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
    --ubuntu: 'Ubuntu', sans-serif;
    --root-font: 18px var(--ubuntu);
    --dark-blue: #1F2937;
    --prim-white: #F9FAF8;
    --sec-white: #E5E7EB;
    --light-blue: #3882F6;
    --hero-main-size: 900 48px var(--ubuntu);
    --header-logo-text: 600 24px var(--ubuntu);
    --info-header-text: 900 36px var(--ubuntu);
    --quote-text: italic 300 36px var(--ubuntu);
}

body {
    font: var(--root-font);
    display: flex;
    flex-flow: column nowrap;
}

a {
    text-decoration: none;
    color: var(--sec-white);
}

a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 150px;
    background-color: var(--dark-blue);
}

.header .top-left {
    font: var(--header-logo-text);
    color: var(--prim-white);
}

.header .top-right ul {
    display: flex;
    gap: 16px;
}

